body{
   
    font-family: 'Inria Serif', serif;
    flex-direction: column;
    padding: 0;
    background-color: #EDEBEB;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
*{
    margin: 0;
    padding: 0;
   
}
h1,
h2,
h3,
h4 {
    color: white;
}



a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
li{
    list-style-type: none;
    margin-left: 30px;
}
.logo{
    margin-left: 10px;
}
header{
    position: absolute;
    width: 100%;
    background-color: #F96E3F;
    height: 70px;
}
.narbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
  
}
.menu {
    display: flex;
    margin: 10px;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;   
}
.panier{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.log{
    margin-right: 10px;
}
/* section accueil */
.font-black{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url('../image/acc.jpg') ;
    background-size: cover;
    width: 100%;
    height: 1000px;
}
.imageAcc{

    width: 100%;
    height:400px ;
    float: right;
}
.textAcc{
    width: 800px;
    position: relative;
    margin-left: 30px;
    top: 300px;
    left: 300px;
    text-align: center;
}
.txtAcc{
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
    
}
.specia{
    color: #F96E3F;
}
.btnSub{
    width: 150px;
    height: 50px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    background-color: #F96E3F;
    color: white;
    
}
/* Fin section accueil */

/* debut list pub */
.list{
    padding-top: 30px;
}
.imag img{
    width: 200px;
    height: 150px;
}
.imag{
    text-align: center;
}
.cardElement{
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    display: flex;
    margin-bottom: 50px;
}
.cardElement::-webkit-scrollbar {
    display: none;
  }
.cardList{
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
    margin-bottom: 20px;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgb(197, 197, 197);
}
.like{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}
.pourc{
    width: 50px;
    background-color: #F96E3F;
    height: 20px;
    text-align: center;
    color: white;
}
.infoListPro{
    display: block;
    justify-content: center;
    margin-bottom: 5px;
    padding: 20px;
    width: 150px;
}
.infoPa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
}
.left{
    float: left;
    position: absolute;
}

.ico{
    display: flex;
    justify-content: space-between;
    width: 150vh;
    top: 1200px;
    position: absolute;
    margin: 0 auto;
}
.ico i{
    color: #F96E3F;
}
.btnplus{
    float: right;
}
.btnp{
    width: 150px;
    height: 50px;
    border: 2px #F96E3F solid;
    font-size: 25px;
}
/* fin list pub */


